version: '3.8'

services:
  web:
    image: "${IMAGE_APP:-webapp:latest}"   # از ENV یا default استفاده می‌کنه
    container_name: webapp
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BUILD_CONFIGURATION: Release
    ports:
      - "5000:80"       # 80 داخل کانتینر → 5000 روی میزبان
    environment:
      - DOTNET_RUNNING_IN_CONTAINER=true
      - DOTNET_USE_POLLING_FILE_WATCHER=true
      # سایر ENV ها را می‌توانی اینجا اضافه کنی
    restart: unless-stopped
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
