name: CI/CD with Docker Compose

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and run containers
        run: |
          docker-compose -f docker-compose.yml up -d --build
